{% extends 'index.html' %}
{% load static %}
{% block content%}
<h1>Notifications</h1>
<div class="row">
    {% if notifications.all|length %}
        {% for notification in notifications.all %}
            <div class="col-md-12">
                <div class="row tabs-container bg-gray">
                    <div class="col-md-2" onclick="window.location='{% url 'viewUserProfile' username=notification.user_who_fired_event.username %}'">
                        {% if notification.user_who_fired_event %}
                            <img src="/media/{{ notification.user_who_fired_event.profile_pic }}" width="80" height="80" style="border-radius: 50%;object-fit: cover;">
                        {% else %}
                            <img src="{% static 'default_profile.png' %}" width="80" height="80" style="border-radius: 50%;object-fit: cover;">
                        {% endif %}
                    </div>
                    <div class='col-md-8'>
                        <b>{{ notification.user_who_fired_event.username }}</b> {{ notification.event_id.comment }}</br>
                         <small class='text-warning '>{{ notification.created_at }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>You don't have any notification.</p>
    {% endif %}
</div>

{% endblock %}
