{% extends 'index.html' %}
{% load static %}
{% block content%}
<h1>My Profile</h1>
{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}
<div class="row profile">
    <div class="col-md-12">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="image_outer_container">
                    <div class="green_icon"></div>
                    <div class="image_inner_container">
                        {% if user.profile_pic %}
                            <img src="/media/{{ user.profile_pic }}" style="object-fit: cover;">
                        {% else %}
                            <img src="{% static 'default_profile.png' %}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
     <form method="post" id="profile_pic_form" action="{% url 'uploadProfilePic' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                Profile Pic:
                <input type="file" placeholder="profile_pic" required class="form-control" id="profile_pic" name="profile_pic">
            </div>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Upload" name="Upload">
     </form>
    <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-uppercase">{{ user.username }}</h4>
    </div>
    <div class="col-md-12">
        <strong>Email: </strong>{{ user.email }}</br>
        <strong>Mobile Number: </strong>{{ user.contact_number }}</br>
        <strong>Last Login: </strong>{{ user.last_login }}
    </div>
    <div class="col-md-12 ">
        <div class="row">
            <div class="col-md-6 text-center followers">
                {% if followers|length > 0  %}
                    <a href="{% url 'followers' %}">Followers {{ followers|length }}</a>
                {% else %}
                    <a href="{% url 'followers' %}">You don't have any Followers</a>
                {% endif%}
            </div>
            <div class="col-md-6 text-center following">
                {% if following|length > 0  %}
                    <a href="{% url 'following' %}">Following {{ following|length }}</a>
                {% else %}
                    <a href="{% url 'following' %}">You are not Following to anyone</a>
                {% endif%}
            </div>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="row">
            <div class="col-md-12 text-center change_password">
                <a href="{% url 'changePassword' %}" >Change Password</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $('.image_outer_container').on('click', function () {
        document.getElementById("profile_pic").click();
    });
    $('#profile_pic').on('change', function () {
        $('#profile_pic_form').submit();
    });
</script>
{% endblock %}