{% extends 'index.html' %}

{% block content %}
{% load static %}
<div class="d-flex justify-content-center pt-2">
    <div class="col-md-8">
        {% for post in posts %}
       <div class="card text-white bg-dark mb-3" style="max-width: 42rem;" >
           <div class="card-header">
               <div style="cursor:pointer;" >
                   <p  onclick="window.location='{% url 'viewUserProfile' username=post.posted_by %}'" style="width: fit-content;">
                   {% if post.posted_by_profile_pic %}
                            <img src="/media/{{ post.posted_by_profile_pic }}" width="40" height="40" class="profile_pic" style="object-fit: cover;">
                   {% else %}
                        <img src="{% static 'default_profile.png' %}" width="40" height="40" class="profile_pic">
                   {% endif %}{{ post.posted_by }}</p>
               </div>
               <small class="form-text text-muted">
                    {% now "Y-m-d" as todays_date %}
                    {% if post.pub_date|date:"Y-m-d" < todays_date  %}
                        {{ post.pub_date|date:"M d, Y H:m" }}
                    {% else %}
                        Today
                   {% endif %}
               </small>
           </div>
           <div class="card-body" style="cursor:pointer;max-width: 42rem;" onclick="window.location='{% url 'details' post.id %}'">
<!--               <h5 class="card-title">Dark card title</h5>-->
               <p class="card-text">{{ post.title }}</p>
               {% if post.image %}
                    <img src="/media/{{ post.image }}" class="img-fluid">
               {% endif %}
           </div>
           <div class="card-footer">
               <p style="font-size: 1.5em;">
                   {% if post.liked_by_loggedin_user %}
                        <i class="fa fa-heart like fa-like" onclick="window.location='{% url 'like' post.id %}'"></i>
                   {% else %}
                       <i class="fa fa-heart like"  onclick="window.location='{% url 'like' post.id %}'"></i>
                    {% endif %}
               {{ post.total_likes }}</p>
           </div>
       </div>
<!--        <form action="{% url 'like' post.id %}" method="post" >-->
<!--            {% csrf_token %}-->
<!--            <input type="hidden">-->
<!--        </form>-->
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">

</script>
{% endblock %}