{% extends 'index.html' %}

{% block content%}

<div class="row justify-content-md-center">
    <div class="col-md-6">
         <h1>Login</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                Email Address:
                <input type="text" required placeholder="Email Address" class="form-control" name="email">
            </div>
            <div class="form-group">
                Password:
                <input type="password" required placeholder="****" class="form-control" name="password">
            </div>

            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login" name="login">
        </form>
    </div>
</div>

{% endblock %}
